body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p
{
  line-height: 1.5;
  color: gray;
}

.nav
{
  background-color: yellow;
  display: none;
}

.menu-bar-btn
{
  display:none;
  width: 50px;
  border: 0;
  background-color: transparent;
  cursor: pointer
}

.header
{
  background-color: black;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px;
}


.logo
{
  padding-left: 40px;
}

.nav-bar h1
{
  display: inline;
  color: white;
  padding-right: 40px;
  cursor: pointer
}

.nav-bar a
{
  text-decoration: none;
}


.banner
{
  width:100%;
}

.features-section
{
  margin: 100px 0px;
}

.features-head-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-head
{
  width:100px;
  text-align: center;
  padding-bottom: 100px;
}

.features-details-container
{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  /* background-color: red; */
}

.first-part
{
  /* background-color: blue; */
  display: flex;
  justify-content:space-around;
  width: 100%;
  padding-right: 100px;
  /* border: 10px solid black; */
}

.second-part
{
  /* background-color: yellow; */
  /* border: 10px solid black; */
  padding-right: 4%;
}

.features-first
{
  width:300px;
  height:370px;
  /* border: 10px solid black; */
}

.features-first img
{
  padding-bottom: 33px;
}

.features-second
{
  width:300px;
  height:370px;
  /* border: 10px solid black; */
}

.features-second img
{
  padding-bottom: 10px;
}

.features-third
{
  width:300px;
  height:370px;
  /* border: 10px solid black; */
}

.testimenials-section
{
  margin-bottom: 100px;
  height: 400px;
  overflow: scroll;
}

 .testimenials-head-container
{
  display: flex;
  justify-content: center;
  align-items: center;
}


.testimenials-heading
{
  width:150px;
  padding-bottom: 50px;
}

.testimenials-details-container
{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.testimenials-first
{
  display: flex;
  justify-content: center;
  align-items:center;
  padding-bottom: 80px;
}

.t-first-text
{
   width: 50%;
}

.testimenials-second
{
  display: flex;
  justify-content: center;
  align-items:center;
  padding-bottom: 100px;
}

 .t-second-text
{
  width:55%;
  position: relative;
  left:4%;
}

.testimenials-second img
{
  width:75%;
  position: relative;
  left:10%;
}

 .testimenials-third
{
  display: flex;
  justify-content:center;
  align-items: center;
}

.t-third-text
{
  width:50%;
  position: relative;
  /* left:20px; */
  right:3.2% ;
}

.testimenials-third img
{
  position: relative;
  left:10%;
  width:60%;
}

.form-container
{
  display: flex;
  justify-content:center;
  margin: 100px;
}

.t-para
{
  line-height: 1.5;
}

.form
{
  border: 10px solid black;
  box-shadow: 10px 5px 5px gray;
  padding: 200px;
  width:10px;
  height:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input
{
  display: inline;
  margin:10px 0px;
}

.form label
{
  display: flex;
}

.footer-container
{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: black;
  padding: 100px;
}

.footer-links
{
  width:200px;
  height:200px;
  color: white;
}

.footer-icons
{
  width:200px;
  height:200px;
  color: white;
}

.footer-icons img
{
  width:15%;
}

.footer-address
{
  width:200px;
  height:200px;
  color: white;
}

@media (max-width:600px)
{
  .footer-container
  {
    flex-direction: column;
  }

  .first-part
  {
    flex-direction: column;
    width: 60%;
  }


  .features-first
  {
    padding-bottom: 100px;
  }

  .features-second
  {
    /* padding-bottom: 100px; */
  }


  .testimenials-first
  {
    flex-direction: column;
  }

  .t-first-text
  {
    width: 60%;
  }

  .testimenials-second
  {
    flex-direction: column;
    align-items: flex-start;
  }

  .testimenials-img-2
  {
    /* position: relative;
    left:35%; */
    align-self: center;
  }

  .t-second-text
  {
    width: 60%;
    position: relative;
    left:20%;
  }

  .testimenials-third
  {
    flex-direction: column;
  }

  .t-third-text
  {
    width: 62%;
    position: relative;
    left:1%;
  }

  .testimenials-img-3
  {
    /* position: relative;
    left:10%; */
    align-self: center;
  }

  .testimenials-section
  {
    height: 600px;
  }

  .nav-bar
  {
    display: none;
  }

  .menu-bar-btn
  {
    display: block;
  }

  .nav
  {
    display: block;
    position: relative;
    background-color: black;
    padding-bottom: 20px;
  }

  .nav h1
  {
    color: white;
    margin: 0px;
    padding: 10px 0px 0px 30px;
    cursor: pointer
  }

  .nav a
  {
    text-decoration: none;
  }

  .headerlogo
  {
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width:800px)
{
  .features-details-container
  {
    flex-direction: column;
  }

  .second-part
  {
    padding: 100px 0px 0px;

  }

  .first-part
  {
    padding-right: 0px;

  }

  /* .t-second-text
 {
   width:55%;
   position: relative;
   left:8%;
 } */

}
